test:
{#{dump(content.item)}#}


<a href="" class="book_link">Book</a>

<button class="book_link">Book</button>

<a href="#" value="{{ nid }}" class="book_link">Book</a>

<a href="/booking/book/{{ nid }}">Book</a>
